.vscode/

# Dependency directories
node_modules/

build

# Output of 'npm pack'
*.tgz

# Logs
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog

# Optional npm cache directory
.npm/

# dotenv environment variables file
.env
.env.test
.env.production
